<div class="card card-image" style="background-image: url('../../../assets/images/cityPrayer.png');">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <h1 class="card-title h1 my-4 py-2 display-4">Let's Pray For Our City!</h1>
      <hr class="my-4 rgba-white-light">
      <h2 class="prayerText py-3">
        Together, with the power of prayer we can change our city.<br>
      </h2>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray for Spiritual Awakening in the Churches in your City</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Pray the Scriptural prayers found in Eph 1:15-21, 3:14-21; Phil 1:9-11; Col 1:9-12, 4:12; and Heb 13:20-21.
      When you pray these Scriptures, insert the name of congregations and assemblies in your city, asking God to bring the fullness of Jesus’ life into the church.</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray for Our Leaders</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Pray for people such as the Mayor, the City Council, Police Chief, School Board, etc.
      It's not easy running a city and these position have heavy burdens to bear.
    </p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray for our Police</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Right now the Police in our city need prayer.
      Pray for safety, hope, and that people will support our police officers so they can continue to serve and protect our city</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray Against the Spiritual Strongholds of Darkness over your City.</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Ephesians 6:12 teaches of the constant spiritual battle in the heaven lies.. actual strongholds that the enemy has over geographic areas. (see also Dan 10:10-13).</p>
  </div>
</div>
