<!-- <h1 class="pageTitle display-4">Hope City Prayer Page</h1> -->

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url('../../../assets/images/cityPrayer.png');">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <!-- <h5 class="h5 orange-text"><i class=""></i>Let's Pray For Our City!</h5> -->
      <h1 class="card-title h1 my-4 py-2 display-4">Let's Pray For Our City!</h1>
      <hr class="my-4 rgba-white-light">
      <h2 class="prayerText py-3">
        Hope City has dedicated it's efforts to find the greatest areas of need in your city.<br>
        Together, with the power of prayer we can change our city.<br>
        Read more to find out you can pray to make a difference.<br>
        Join us in prayer for your city.
      </h2>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray for Spiritual Awakening in the Churches in your City</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Pray the Scriptural prayers found in Eph 1:15-21, 3:14-21; Phil 1:9-11; Col 1:9-12, 4:12; and Heb 13:20-21.
      When you pray these Scriptures, insert the name of congregations and assemblies in your city, asking God to bring the fullness of Jesus’ life into the church.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray for Our Leaders</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Pray for people such as the Mayor, the City Council, Police Chief, School Board, etc.
      It's not easy running a city and these position have heavy burdens to bear. Our leaders need our support. We can honor our leaders through prayer.
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray for our Police</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Right now the Police in our city need prayer.
      Pray for safety, hope, and that people will support our police officers so they can continue to serve and protect our city</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Pray Against the Spiritual Strongholds of Darkness over your City.</h2>
    <hr class="my-4 rgba-white-light">
    <p class="lead">Ephesians 6:12 teaches of the constant spiritual battle in the heaven lies.. actual strongholds that the enemy has over geographic areas. (see also Dan 10:10-13).
      Command the “rulers, authorities, powers of this dark world, and the spiritual forces of evil” in the north, south, east, and west of your city to “give up” those people held in spiritual bondage (see Is 43:5,6). Praise the Lord that people will come to Jesus from the four sections of your city. (Lk 13:29)</p>
  </div>
</div>

<!-- Jumbotron -->
<div class="jumbotron text-center mdb-color lighten-2 white-text">
  <h2 class="card-title h2">Have a Prayer request for your city?</h2>
  <hr class="my-4 rgba-white-light">
  <p class="my-4 h6">Email us with your prayer request for your city!</p>
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 pb-2">
      <p class="card-text">There are so many ways we can pray for our city and we want to stand with you in prayer. Please email us with your prayer request.</p>
    </div>
  </div>
</div>
<!-- Jumbotron -->
