<div class="pageTitle">
  <h1 class="display-4">Edit your profile and view your events</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <mdb-card cascade="true">


      <mdb-card-body cascade="true" class="text-center">
        <h4 class="card-title">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <div class="mage-preview" *ngIf="mageView !== '' && mageView && form.get('image').valid">
              <mdb-card-img [src]="mageView" alt="form.image.value"></mdb-card-img>
            </div>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <strong>{{auth.firstName}} {{auth.lastName}}</strong>
        </h4>
        <h5>{{auth.email}}</h5>
        <h5>{{auth.city}}</h5>
        <h5>{{auth.state}}</h5>
        <h5>{{auth.zip}}</h5>

        <!-- <mdb-card-text>

        </mdb-card-text> -->
        <!--
          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a> -->

      </mdb-card-body>

    </mdb-card>
  </div>
  <div class="col-md-4">
    <mdb-card class="me">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Card Title</h4>
        </mdb-card-title>

        <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </mdb-card-text>
        <form [formGroup]="form" (submit)="onAddImage()">
          <div>
            <!-- <button mdbBtn color="primary" mdbWavesEffect (click)="filePicker.click()">Pick Image</button> -->
            <input formControlName="image" type="file" (change)="theChosenOne($event)">
          </div>
          <button mdbBtn color="primary" mdbWavesEffect type="button" (click)="onAddImage()">Add Profile Pic</button>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
  <!-- <img class="cityImage img-responsive" src="../../../assets//images/cityHome.png"> -->
</div>

