<h1>Login Page</h1>

<div class="card">
  <div class="card-body">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Enter email" ngModel #email="ngModel"
          required email>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" ngModel
          #password="ngModel" required>
      </div>
      <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
  </div>
</div>
