<img class="homeImage img-responsive" src="../../../assets/images/HopeCityBanner.png">

<div class="jumbotron homeText jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A connecting hub to build a better city</h1>
    <h5>Hope City is your city's connecting hub for local Church events and is designed to help you find a place to connect and serve.</h5>
    <p class="lead">Each one of us has a city that needs hope, yet many of us are unaware of how we can be a part of the bigger picture.
      We can bring hope in our families and in our Church but what about an entire city? Hope City is designed to host local Church events
      that are geared toward helping the city as a whole. Here, you can see local Church events, missions, and prayer meetings.</p>
      <h4>Find your tribe, volunteer, change your city.</h4>
  </div>
</div>

<div class="container features mt-5 pt-5 pb-3 px-5 z-depth-1">

  <!--Section: Content-->
  <section class="text-center dark-grey-text">
    <div class="row text-center d-flex justify-content-center my-5">
      <div class="col-lg-2 col-md-6 mb-4">
        <mdb-icon fas icon="user-plus fa-4x mb-4"></mdb-icon>
        <h5 class="font-weight-normal mb-3">Sign Up</h5>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <mdb-icon far icon="handshake fa-4x mb-4"></mdb-icon>
        <h5 class="font-weight-normal mb-3">Partner with Hope City</h5>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <mdb-icon fas icon="church fa-4x mb-4"></mdb-icon>
        <h5 class="font-weight-normal mb-3">Host Church Events</h5>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <mdb-icon fas icon="people-carry fa-4x mb-4"></mdb-icon>
        <h5 class="font-weight-normal mb-3">Serve your Community</h5>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <mdb-icon fas icon="city fa-4x mb-4"></mdb-icon>
        <h5 class="font-weight-normal mb-3">Change your City</h5>
      </div>
    </div>
  </section>
</div>

<img class="cityImage img-responsive" src="../../../assets//images/cityHome.png">
<!-- easy to test here vs profile -->
<!-- <img [src]="stuff" alt=""> -->
