.homeText {
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
  background-color: rgba(243, 240, 240, 0.847);
}

.contactUs {
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

h4{
  text-align: center;
}

h5 {
  text-align: center;
  margin-bottom: 25px;
}

p {
  text-align: center;
}

.homeImage {
  text-align: center;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.cityImage {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.features {
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

}
