.jumbotron {
  margin-top: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

h4{
  text-align: center;
}

h5 {
  text-align: center;
  margin-bottom: 25px;
}

p {
  text-align: center;
}

.homeImage {
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 100px;
}
