.body {
  margin: 5rem;
}

.text-body {
  margin-top: 2%;
  margin-left: 33%;
  padding: 0;
  width: 35%;
  text-align: center;
}

.desc {
  width: 60%;
  margin-left: 18%;
}

.card-deck {
  margin: 5rem;
}

mdb-card-footer, mdb-card-header, mdb-card-text {
  text-align: center;
}
