<h1 class="pageTitle display-4">Hope City Events Page</h1>

<div class="card-deck">
  <mdb-card *ngFor="let event of events">
    <mdb-card-header>
      <h5>{{ event.eventName }}</h5>
    </mdb-card-header>
    <mdb-card-body>
      <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
        <img
          src="../../../assets/images/EventPlaceholder.png"
          class="img-fluid"
          alt="Sample project image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <br />
      <mdb-card-text>
        {{ event.eventInfo }}
      </mdb-card-text>
      <mdb-card-text>
        {{ event.eventDay }}
      </mdb-card-text>
    </mdb-card-body>
    <mdb-card-footer
      ><small class="text-muted"><app-events-modal [id]="event.id"></app-events-modal></small
    ></mdb-card-footer>
  </mdb-card>
</div>
