.jumbotron {
  margin: 5% 20%;
  margin-bottom: 40vh;
}
.view {
  background: url('../../../assets/images/cityBG.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.signUpForm {
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  text-align: center;
}

h5 a {
  text-align: center;
}

img {
  border-radius: 5px;
}

.signupBGImage {
  height: auto;
  width: 100%;
}


