h1 {
  margin-top: 100px;
  text-align: center;
}

.signUpImg {
  height: 100vh; //also tried with min-height
 -webkit-background-size: cover;
-moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.signUpBody {
  margin-top: 0px;
}

.signupBGImage {
  position: fixed;
}
