.signUpImg {
  height: 100vh; //also tried with min-height
 -webkit-background-size: cover;
-moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.signupBGImage {
  position: fixed;
  height: auto;
  width: 100%;
}


