.jumbotron {
  margin: 5% 20%;
  margin-bottom: 10vh;
  border-radius: 10px;
}
.view {
  background: url('../../../assets/images/cityBG.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.signUpForm {
  margin-top: 5%;
  margin-bottom: 5%;
}

h3, h1 {
  text-align: center;
  margin-top: 10px;
}

h5 a {
  text-align: center;
}

img {
  border-radius: 5px;
}

button {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
