<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"
          placeholder="Password">
      </div>
      <div class="form-group">
        <label for="zipcode">Password</label>
        <input type="zipcode" class="form-control"
          placeholder="ZipCode">
      </div>
      <button type="submit" class="btn btn-primary">SIGNUP</button>
    </form>
  </div>
</div>
