.footerLinks {
  padding-top: 90px;
  padding-bottom: 70px;
  padding-left: 8%;
  padding-right: 8%;

}

mdb-icon {
  margin-bottom: 2rem;
}

li {
  font-size: 18px;
  padding: 10px;
}

h5 {
  font-size: 60px;
  margin-bottom: 50px;
}

a:hover {
text-decoration: none;
}

a:hover .email {
  margin-right: 15px;
  text-decoration: underline;
}

.mapGo {
width: 100%;}


